.login_backgroud{
    background: url("../images/backgroud-image-login.jpg") no-repeat center center fixed;
    background-size: cover ;
}
div.loginHeader{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4.5%;
}
div.loginHeader h1{
    font-size: 100px;
    font-weight: bold;
    color: #074184;
    padding: 0px;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: aliceblue;
}
div.loginHeader h3{
    color: aliceblue;
    font-size: 55px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #043976;
}
div.loginHeader h3:after{
    content:'';
    display: block;
    height: 8px;
    background: #074184;
    margin: 0 auto;
} 
div.loginBody form{
    margin: 0 auto;
    width: 400px;
    background: rgba(0,0,0,0.5);
    padding:50px;
    border: 5px;
    border: solid;
    border-color: aliceblue;
    border-radius: 15px;
}

div.loginInputsContainer{
    margin-top: 20px;
}
div.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 5px;
}
div.loginInputsContainer input{
    height: 30px;
    width: 100%;
    border: 3px solid #074184;
    font-size: 20px;
    padding: 5px;
    font-style: italic;
}
div.loginButtonContainer {
    margin-top: 35px;
    text-align: center;
}
div.loginButtonContainer button{
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: aliceblue;
    font-style: italic;
}
div.loginButtonContainer button:hover{
    cursor: pointer;
    background-color: #074184;
    color: aliceblue;
    font-style: italic;
}

/* DASHBOARD STYLE*/

#dashboardMainContainer{
    display: flex;
    flex-direction: row;
}

div.dashboard_sidebar{
    width: 20%;
    background: #323232;
    height: 100vh;
}

div.dashboard_content_container{
    width: 80%;
    background: aliceblue;
}

h3.dashboard_logo{
    color: aliceblue;
    font-size: 80px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#074184;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid aliceblue;
}

div.dashboard_sidebar_user img{
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid aliceblue;
    margin-right: 5px;
    vertical-align: middle;
}

div.dashboard_sidebar_user span{
    top: 20%;
    font-size: 20px;
    text-transform: uppercase;
    color: aliceblue;
    display: inline-block;
}

ul.dashboard_menu_lists{
    margin-top: 20px;
    list-style-type: none;
    padding: 0%;
}
ul.dashboard_menu_lists li{
    padding:15px 15px;
    font-size: 18px;
    text-transform: uppercase;
}
ul.dashboard_menu_lists li a{
    text-decoration: none;
    color: aliceblue;
    height: 100%;
    display: block;
    font-size: 20px;
}

ul.dashboard_menu_lists li.menuActive{
    background: #043976;
    color: aliceblue;
   }

ul.dashboard_menu_lists li:hover{
    background: #043976;
    color: aliceblue;
    transition: 0.3s all;
}

div.dashboard_topNav{
    background: white;
    padding: 20px;
}
div.dashboard_topNav a{
    color: #848383;
    font-size: 20px;
    text-decoration: none;
}
a#logoutBtn{
    float: right;
}
div.dashboard_content{
    padding: 20px 20px 20px 20px;
}
div.dashboard_content_main{
    background: white;
    min-height: 600px;
    height: 100%;
}

