/* LOGIN STYLE */
body.login_background{
    background: url('../images/background-image-login.jpg') no-repeat center center fixed;
    background-size: cover;   
   }
   
div.loginHeader{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4.5%;
}
div.loginHeader h1{
    font-size: 100px;
    font-weight: bold;
    color: #074184;
    padding: 0px;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: aliceblue;
}
div.loginHeader h3{
    color: aliceblue;
    font-size: 55px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #043976;
}
div.loginHeader h3:after{
    content:'';
    display: block;
    height: 8px;
    background: #074184;
    margin: 0 auto;
} 
div.loginBody form{
    margin: 0 auto;
    width: 400px;
    background: rgba(0,0,0,0.5);
    padding:50px;
    border: 5px;
    border: solid;
    border-color: aliceblue;
    border-radius: 15px;
}

div.loginInputsContainer{
    margin-top: 20px;
}
div.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 5px;
}
div.loginInputsContainer input{
    height: 30px;
    width: 100%;
    border: 3px solid #074184;
    font-size: 20px;
    padding: 5px;
    font-style: italic;
}
div.loginButtonContainer {
    margin-top: 35px;
    text-align: center;
}
div.loginButtonContainer button{
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: aliceblue;
    font-style: italic;
}
div.loginButtonContainer button:hover{
    cursor: pointer;
    background-color: #074184;
    color: aliceblue;
    font-style: italic;
}

/* DASHBOARD STYLE + SYDEBAR STYLE */

#dashboardMainContainer{
    display: flex;
    flex-direction: row;
}

div.dashboard_sidebar{
    width: 21%;
    background: #585757;
    height: 100vh;
}

div.dashboard_content_container{
    width: 79%;
    background: aliceblue;
}

h3.dashboard_logo{
    color: aliceblue;
    font-size: 80px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#074184;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid aliceblue;
}

div.dashboard_sidebar_user img{
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid aliceblue;
    margin-right: 5px;
    vertical-align: middle;
}

div.dashboard_sidebar_user span{
    top: 20%;
    font-size: 20px;
    text-transform: uppercase;
    color: aliceblue;
    display: inline-block;
}

ul.dashboard_menu_lists{
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
}

ul.dashboard_menu_lists li.liMainMenu{
    padding-top:15px;
    text-transform: uppercase;
}

ul.dashboard_menu_lists li.liMainMenu a{
    padding:0px 15px;
    text-decoration: none;
    color: aliceblue;
    height: 100%;
    display: block;
    font-size: 16px;
    padding-bottom: 15px;
 
}
ul.dashboard_menu_lists li.liMainMenus{
    padding-top:15px;
    text-transform: uppercase;
}

ul.dashboard_menu_lists li.liMainMenus a{
    padding:0px 15px;
    text-decoration: none;
    color: aliceblue;
    height: 100%;
    display: block;
    font-size: 16px;
    padding-bottom: 15px;
 
}

ul.dashboard_menu_lists li.menuActive{
    background: #043976;
    color: aliceblue;
}

ul.dashboard_menu_lists li:hover{
    background: #043976;
    color: aliceblue;
    transition: 0.3s all;
}

div.dashboard_topNav{
    background: white;
    padding: 20px;
}
div.dashboard_topNav a{
    color: #848383;
    font-size: 20px;
    text-decoration: none;
}
a#logoutBtn{
    float: right;
}
div.dashboard_content{
    padding: 20px 20px 20px 20px;
}
div.dashboard_content_main{
    background: white;
    min-height: 640px;
    height: 100%;
    border: 1px solid #cdcdcd;
    padding-left: 20px;
}
form::after{
    content: '';
    clear: both;
    display: block;
}
form.appForm{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #cecfd0;
    border-radius: 5px;
    background: #dadfe6;
}
form label{
    font-weight: bold;
    text-transform: uppercase;
}
form input.appFormInput{
    width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;
}
div.appFormInputContainer{
    margin-bottom: 15px;
}
div#userAddFormContainer{
    padding-top: 45px;
}
button.appBtn{
    background: #1b6cc8;
    border: 1px solid aliceblue;
    color: aliceblue;
    padding: 10px;
    margin-top: 20px;
    float: right;
    border-radius: 8px;
}
button.appBtn:hover{
    cursor: pointer;
    background: #032b59;
    border: 1px solid aliceblue;
    color: aliceblue;
}
p.responseMessage{
    font-size: 18px;
    text-align: center;
    margin-top: 33px;
    padding: 20px;
}
p.responseMessage__error{
    background: lightcoral;
}
p.responseMessage__success{
    background: lightgreen;
}

/* USER ADD PAGE */

div.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
div.column{
    width: 100%;
    padding: 0px 10px;
}
div.column-5{
    width: 37.67%;
    margin-left: 11px;
}
div.column-7{
    width: 61.33%;
}
h1.section_header{
    font-size: 21px;
    color: #1b6cc8;
    border-bottom: 1px solid #032b59;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 4px solid  #032b59;
    margin-bottom: 15px;
}
table, th, td{
    border: 1px solid #cacaca;
    border-collapse: collapse;
}
table{
    width: 100%;
}
table th{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: aliceblue;
}
table td{
    font-size: 13px;
    text-align: center;
    padding: 5px;
}
p.userCount{
    margin-top: 5px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1b6cc8;
}

/* SIDEBAR STYLE */

.menuText{
    margin-left: 8px;
}
ul.subMenus{
    list-style-type: none;
    background: #032b59;
    display: none;
}
a.subMenuLink{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-transform: none;
    font-size: 16px !important;
}
a.subMenuLink i{
    font-size: 16px !important;
    width: 16px !important;
}
i.mainMenuIconArrow{
    float: right;
    font-size: 22px !important;
}
.subMenuActive{
    font-weight: bold;
    border-top: 2px solid aliceblue;
    border-bottom: 2px solid aliceblue;
    background: #1b6cc8;
    padding-top: 15px !important;
}